@import "tailwindcss";

input[type=number].no-spin::-webkit-outer-spin-button, input[type=number].no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
};
input[type=number].no-spin {
  -moz-appearance: textfield;
};
